/* DEFAULTS */
html { 
  font-size: 62.5%; /* magic number so that 10px = 1em */
}

body {
  font-family: "Verdana", sans-serif; 
  font-size: 1.2em;
  color: #000000;
  background-color: #ffffff; 
  padding: 0px;
  margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
  clear: both;
  font-family: "Arial", sans-serif; 
}
h1 {
  font-size: 1.5em;
}
h2 {
  margin-top: 1.5em; 
  font-size: 1.25em;
}
h1,h2 {
  color: #03529e; /* TU/e medium blue */
}
h3,h4,h5,h6 {
  font-weight: bold;
}

tt,pre {
  font-family: "Courier New", monospace;
  font-size: 1.1em;
}

a img { /* don't put borders around image links */
  border: 0;
}
a {
  color: #0066cc; /* TU/e light blue */
  text-decoration: none;
}
a:hover, .selected {
  color: #d6004a; /* TU/e red */
}
.par {
  color: #03529e; /* TU/e medium blue */
  font-weight: bold;
}
.map {
  width:425px;
  /*      top  right bottom left */
  margin: 1em auto  2em   auto;
}

/* THREE COLUMN LAYOUT */
.wrapper {
  width: 1000px;
  margin: 0;
}
.header {
  float: left;
  width: 100%;
}
.wrapheader {
  position: relative;
  height: 179px; /* same as headerGD.png height */
}
.wrapmiddle {
  float: left;
  width: 100%;
}
.middle {
  margin-right:201px;
  margin-left:150px;

  padding-left:20px;
  padding-right:20px;

  border-left:  1px solid #d6004a; /* TU/e red */
  border-right: 1px solid #d6004a; /* TU/e red */

  border-top: 1px solid #d6004a; /* TU/e red */
  padding-top: 3px;
}
.left {
  float: left;
  width: 150px;
  margin-left: -100%;
  margin-right: 10px;

  border-top:    1px solid #d6004a; /* TU/e red */
  border-right:  1px solid #d6004a; /* TU/e red */
}
.right {
  float: left;
  width: 191px;
  margin-left: -191px;
}

/* HEADER */

#gd-logo {
  position: absolute;
  left: 0px;
  top: 0px;
}
#gd-logo2 {
  margin-top: 10px;
  margin-left: 22px;
}
#tue-logo {
  position: absolute;
  right: 0px;
  bottom: 10px;
}
#tuimelaar-logo {
  position: absolute;
  right: -5px;
  bottom: 79px;
}

/* NAVIGATION MENU */

#menu {
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 12px;
  font-family: "Arial", sans-serif;
}
#belowmenu {
  width: 150px;
  border-top: 1px solid #d6004a; /* TU/e red */
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* menu entries: align left */
#menu ul a, #menu ul span {
  display: block;
  margin-bottom: 1px;
  padding: 2px 3px;
  font-size: 1.1em;
  font-weight: bold;  
  text-decoration: none;
  text-align: left;
  color: #101073; /* TU/e dark blue */
}
/* unselected menu item */
#menu ul a {
  color: #0066cc; /* TU/e light blue */
  background: #ffffff; 
}
/* selected/mouseovered menu item */
#menu ul a:hover, #menu ul .selected {
  color: #d6004a; /* TU/e red */
  background: #ffffff; 
}

/* TABLES */

table {
  border-spacing: 0px;
}
td, th {
  /*       top right bottom left */
  padding: 0   10px  10px   0;
  vertical-align: top;
}
th {
  font-weight: bold;
  text-align: left;
}

ul {
  margin: 0 0 10px 0;
  padding: 0 0 0 2em;
}
table ul {
  margin-top: -12px; /* fix double margin */
}
.extendborder {
  /* has to go *behind* everything else, otherwise the links in the body
     won't be clickable */    
  z-index:-1; 
  
  position: absolute;
  left:150px;
  width:647px;
  bottom:0px;
  top: 179px; /* same as headerGD.png height */

  border-right: 1px solid #d6004a; /* TU/e red */
  border-left:  1px solid #d6004a; /* TU/e red */
}

/* SPONSORS */

.sponsorheading {
  width: 201px;
  margin-top: 10px;
  margin-left: -10px;
  padding-top: 2px;
  
  text-align: center;
  font-weight: bold;
  color: #03529e; /* TU/e medium blue */
  
  border-top: 1px solid #d6004a; /* TU/e red */
}

/* CALL FOR PAPERS LINK */
#cfp {
  float: right;
  margin-top: 1em; 
}
#cfp span {
  position: relative;
  top:-5px;
}

/* SUBMISSION LINK */
#easychair {
  float: left;
  margin-left: 0.5em; 
  margin-top: 1em; 
}
.abstract {
  display: none;
}

/* ACCOMMODATION */
.hotels td {
  vertical-align: middle;
}

/* PROGRAM */
.break {
  color: #03529e;
  font-weight: bold;
}

#localinfo {
  margin-left: -20px;
  margin-right:-20px;
  padding: 10px 20px;
  border-bottom: 1px solid #d6004a; /* TU/e red */
}
#localinfo img {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}
#infolink {
 float: left;
 width: 9em;
 margin-right: 10px;
}