html, body {
	height: 100%;
	margin: 0; padding: 0;
	font-family: Helvetica, sans-serif;
	/*removed 'Arial' as that reverts some emojis to just outlines */
	background-color: gray;
	background-color: #002769;
	background-image: url("45-degree-fabric-light.png");
}
#content-container {
	/*max-width: 50%;*/
	/*height: 100%;*/
	/* iPhone SE,7,7+ are all 16:9 */
	height: 100vh;
	width: 56.25vh;
	max-width: 100vw;
		max-height: 177.78vw;
	margin: auto;
	background-color: lightgray;
	border-radius: 20px;
	position: relative;
	box-shadow: 0px 0px 50px black;
	font-size: 1.6vh;
}

#content-container.typing-mode a.typing-mode {
	border-bottom: 3px solid;
}
#content-container.typing-mode #speed-test-area {
	display: none;
}
#content-container.speed-mode a.speed-mode {
	border-bottom: 3px solid;
}
#content-container.speed-mode #input-field {
	display: none;
}

#mode-switcher {
	height: 2em;
	line-height: 2em;
	font-size: 1.1em;
	text-align: center;
	top: 0;
	position: absolute;
	width: 100%;

	padding-top: 5px;

}
	#mode-switcher a {
		color: royalblue;
		text-decoration: none;
	}
		#mode-switcher a:hover {
			border-bottom: 2px solid;
		}

#speed-test-area {
	background-color: #EEE;
	height: 50%;
	width: 100%;

	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	padding: 20px;
	font-size: 1em;
	letter-spacing: 0.05em;
	padding-top: 40px;

	text-align: center;

	background-color: #ffffff;
	background-image: url("bright-squares.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
	#speed-test-area.mode-playing .start-message {
		display: none;
	}
	#speed-test-area .progress-bar {
		height: 5px;
		width: 100%;
		background-color: white;
	}
	#speed-test-area .internal-progress {
		height: 100%;
		width: 100%;
		background-color: skyblue;
	}
	#emoji-display {
		font-size: 10em;
	}
	#speed-input-field {
		text-align: center;
		font-size: 2em;
		padding: 0.5em;
		width: 1.25em;
		height: 1.25em;
		resize: none;
		-webkit-transition: background-color 50ms; 
    	transition: background-color 50ms;
    	background: rgba(255,255,255,0.75);
    	border: none;
    	border-bottom: 5px solid #333;
	}
		#speed-input-field.wrong {
			background-color: pink;
		}
		#speed-input-field.correct {
			background-color: lightgreen;
		}


#input-field {
	width: 100%;
	height: 50%;

	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	padding: 20px;
	font-size: 2em;
	letter-spacing: 0.05em;

	resize: none;
	border: white;
	
	background-color: #ffffff;
	background-image: url("sandpaper.png");

	padding-top: 40px;
	padding-bottom: 40px;
}
	#input-field:focus {
		outline: none;
	}

#keyboard-switcher {
	position: relative;
	z-index: 1;
	bottom: 40px;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 1em;
}

	#content-container.speed-mode #keyboard-switcher {
		display: none;
	}

	#keyboard-switcher a {
		color: royalblue;
		text-decoration: none;
		margin-right: 5px;
		padding: 3px;
		background-color: #fcfcfc;
	}
		#keyboard-switcher a:hover {
			border-bottom: 2px solid;
		}
		#keyboard-switcher a.active {
			border-bottom: 3px solid;
		}

#keyboard-area {
	width: 100%;
	/*background-color: antiquewhite;*/
	background-color: black;
	position: absolute;
	bottom: 0;
	max-height: 50%;
	height: 50%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 0;
	padding: 0;
}

	/*Note: in 24-key version, predicted results is used to simply contain all results. */
	#predicted-results {
		height: 15%;

		background-color: rgb(235,239,242);
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}
	a {
		text-decoration: none;
	}
	a:hover {
		border-bottom: 2px solid;
	}
	table a, table a:hover { border: none; }

	#predicted-results .container {
		display: table-cell;
		padding: 0 0.5em;
	}
	/*#predicted-results .container:first-child {
		background-color: rgb(245,249,252);
	}*/

		#predicted-results div.column {
			/*background: orange;*/
			/*padding: 5px;*/
			display: table-cell;
		}
		#predicted-results div.column div.link {
			/*background: yellow;*/
			font-size: 3.5em;	
		}
		#predicted-results div.column div.link a {
			border: none;
			padding: 0 0.05em;
		}
		#predicted-results div.column div.link a:hover {
			border-radius: 10px;
					background-color: white !important;
		}
	#search-results {
		height: 0%;
		background-color: rgb(235,239,242);
		/*overflow: auto;*/
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
		#search-results table {
			width: 100%;
			height: 100%;
			table-layout: fixed;
		}
		#search-results td {
			margin: 0;
			padding: 0;
		}
		#search-results a {
			display: inline-block;
			padding: 2px;
			margin: 2px;
			font-size: 3em;
			text-decoration: none;
			border-radius: 5px;
			margin: 0;
			padding: 0;
		}
		
		#search-results a.result-emoji:hover {
			/*background-color: #78dfff !important;*/
			background-color: white !important;
		}

	#keyboard-categories {
		background-color: rgb(220,224,227);
		width: 100%;
		height: 80%;
		/*height: 50px;*/
		/*overflow: auto;*/
		margin: 0;
		padding: 0;
		display: table;

		/* ~ */
		/*border-right: 1px solid white;*/

		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("iphone6-portrait-UIKeyboardTypeDefault.png");
		/*background-image: ;*/
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom;

		/*border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;*/
	}
		#keyboard-categories table {
			border-collapse: collapse;
			width: 100%;
			text-align: center;
			/*height: 100%;*/
			margin: 0;
			padding: 0;
			table-layout: fixed;
		}
		#keyboard-categories td {
			position: relative;
			height: 100%;
			/*background: yellow;*/
			margin: 0;
			padding: 0;
			/* Note: A border here actually widens the height a bit */
			border: 1px solid white;
		}
		#keyboard-categories a {
			/* temporary styling until i get my own images to be background-images */
			display: block;
			text-decoration: none;
			width: 100%;
			height: 100%;
			vertical-align: middle;
			font-size: 3em;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}
		#keyboard-categories a:hover {
			background-color: white;
		}
		#keyboard-categories a.selected {
			background-color: rgb(150,154,157);
		}

		#keyboard-type-area {
			margin: 0;
			padding: 0;
			background: white;
			border-radius: 0px !important;
		}
		#keyboard-type-area input {
			width: 95%;
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 1.5em;
			line-height: 1.5em;
			margin: auto;
			display: block;
			padding: 0.9em 0;
		}

	#excess-row {
		height: 5%;
		background-color: darkgray;

		background-color: #000000;
		background-image: url("diamond-upholstery.png");
	}

	#keyboard-area div:last-child {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

/* 
list of places to check out for quick patterns: 
	https://philiprogers.com/svgpatterns/#subtledots
	https://www.transparenttextures.com/
	http://www.heropatterns.com/
*/