---
layout: default
---

<style>
  .post-collection {
    background: beige;
  }
    .post-entry {
      border: 1px solid;
    }
    .post-entry .thumb {
      background: orange;
      width: 100px;
      height: 100px;
      float: left;

      background-image: url(/blog/knol/2016/2016-06/still-here.html/../_cover_image/original.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .post-entry .text {
      min-height: 100px;
      background: cyan;
      margin-left: 120px;
    }
</style>

<!--[if lte IE 6]>
  <style>
    .post-entry .text {
      height: 100px;
    }
  </style>
<![endif]-->


<div class="home">

  <h1 class="page-heading">Posts</h1>

  <div class="post-collection">
    {% for post in site.posts %}
      <div class="post-entry">
        <div class="thumb">thumb</div>
        <div class="text">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </div>
      </div>
    {% endfor %}
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

