.timeline {
	background-color: lightgray;
}

/*title*/
.timeline-header {
	background-color: white;
	display: none;
}
.timeline-header a.follow-button {
	display: none;
}

/*stream*/
.stream {
	background-color: lightsteelblue;
}

/*olist*/
ol.h-feed {
	margin: auto;
	/*max-width: 600px;*/
	/*max-width: 200px;*/
}

/*list entry*/
li.tweet {
	background-color: white;
	/*margin: 10px 0;*/
	border-radius: 2px;
	border-bottom: 2px solid gray;
	margin: 10px;
	float: left;
	max-width: 200px;
}
/*hide tweet header information*/
li.tweet div.header a.customisable-highlight {
	/*position: absolute;*/
	/*left: -57px;*/
}
li.tweet div.header div.h-card.p-author {
	display: none;
}
/* date style */
.var-narrow .tweet .header {
	min-height: inherit;
	float: left;
	padding: 2px;
}

button.load-more {
	background-color: yellowgreen;
}
