/* v2.7.2 Distributable Release - 15/09/09 */
@charset "utf-8";
div#w1, div@w2, div#w3 { border: none; }
div#w3 { border: 0; width: auto; margin: 0 1em; }
body { margin: 0; padding: 0; color: #000; font-family: "Times New Roman", "TimesNR", Times, serif; font-size: 10px; background: #fff; }
img { border: 0; display: block; margin-bottom: 1.4em; }
a { color: #000; text-decoration: underline; }
.noprint, div#nav, div#subnav, div#footer, body.b-home div#mid p { display: none; }
div#print-head { font-weight: bold; font-size: 22pt; letter-spacing: -1pt; border-bottom: 1px solid #000; margin-bottom: 12pt; padding-bottom: 9pt; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 { font-size: 16pt; }
h2 { font-size: 14pt; }
h3 { font-size: 12pt; }
h4 { font-size: 11pt; }
h5 { font-size: 10pt; }
h6 { font-size: 9pt; }
blockquote { margin-left: 20pt; margin-right: 20pt; padding: 7pt; border: 1px solid #000; }
.important { margin: 1.4em 20pt !important; padding: 7pt; border-top: 1px solid #000; border-bottom: 1px solid #000; }
dt { font-weight: bold; }
div#mid ul.doclist li a { display: block; }
table { border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000; }
th, td { vertical-align: top; text-align: left; padding: 1pt 3pt; border-bottom: 1px solid #000; }
th { font-weight: bold; white-space: nowrap; }
.print { display: block; }
#content a, a { text-decoration: underline; color: #000; }
div#foot, img#logo, div#sidebar, div#sidenav, ul#nav-home, div#head form, ul#nav-global, div.strip, #menu, #tabs, #content p.buttons, #content .bt, div#tabbar form, #splashpod, body.splash #usyd-logo { display: none; }
body.splash #head h1 a#usyd-logo, body #head h1 a#logo { display: none; }
body.home #head, div#head { margin: 0; height: auto; color: black; background: none; min-height: 0; border: none; }
div#head h1 { text-align: left; top: 0; left: 0; border-bottom: 1px solid black; position: relative; }
#mid { margin: 0; }
div#content { margin: 0; }
#content { padding: 0; }
#head #masthead { height: auto;  }
#head h1 { font-family: "Times New Roman", "TimesNR", Times, serif; }
#head #utilities, body #head #tray { display: none !important; height: 0 !important; }
div#tabbar { display: none; }
#tabs { display: none; }
.breadcrumb, .breadcrumb.moved { margin: 0; padding: 0.5em 0 0.5em 0; border-bottom: 1px solid #ccc; }
div#w2 { margin: 0; width: 100%; }
#content ul.column-list { width: 40%; }
body.splash #head h1 { text-align: left; }