/* v2.7.2 Distributable Release - 15/09/09 */
/* This file has been depreciated, and is only included for backwards-compatibility. 
 * Future form styles are included in screen.css */
@charset "utf-8";
.formblock { padding: 5px 0px 5px 0px; display: block; width: 99%; background: #fdfcde; }
.elementerrors { display: none; padding-bottom: 5px; }
#elementlabel { float: left; padding: 5px; width: 17em; display: block; }
#elementlabel label { font-size: 1.091em; text-align: right; display: block; }
#elementcontent_rhs, #elementcontent_full { padding: 5px; display: block; }
#elementcontent_rhs { float: right; width: 60%; }
.compulsorybadge { color: #ce1126; }
.angry { border: solid; border-width: 1px 0 1px 0; border-color: #ce1126; margin-bottom: 5px; color: #ce1126; }
.angry .elementerrors { display: block !important; font-weight: bold; }
.errorsummary { border: solid; border-width: 2px 0 1px 0; border-color: #ce1126; color: #ce1126; font-weight: bold; padding: 5px; margin: 15px 0px 15px 0px; }
#radio { display: inline; }
.req_footonote { font-weight: bold; color: #ce1126; font-size: 1.091em; }
.dateSelectorWidget { float: left; clear: right; }
.dateSelectorWidgetCaption { color: grey; font-size: 0.9em; }
/* GREY BOX */
.rbox_bl { background: #fdfcde; padding: 1em; }
.rbox_br {  }
.rbox_tl {  }
.rbox_tr {  }
/* CALENDAR */
.cpYearNavigation,.cpMonthNavigation { background-color: #C0C0C0; text-align: center; vertical-align: middle; text-decoration: none; color: #000; font-weight: bold; }
.cpDayColumnHeader, .cpYearNavigation,.cpMonthNavigation,.cpCurrentMonthDate,.cpCurrentMonthDateDisabled,.cpOtherMonthDate,.cpOtherMonthDateDisabled,.cpCurrentDate,.cpCurrentDateDisabled,.cpTodayText,.cpTodayTextDisabled,.cpText { font-family: arial; font-size: 8pt; }
TD.cpDayColumnHeader { text-align: right; border: solid thin #C0C0C0; border-width: 0px 0px 1px 0px; }
.cpCurrentMonthDate, .cpOtherMonthDate, .cpCurrentDate { text-align: right; text-decoration: none; }
.cpCurrentMonthDateDisabled, .cpOtherMonthDateDisabled, .cpCurrentDateDisabled { color: #D0D0D0; text-align: right; text-decoration: line-through; }
.cpCurrentMonthDate, .cpCurrentDate { color: #000; }
.cpOtherMonthDate { color: #808080; }
TD.cpCurrentDate { color: white; background-color: #C0C0C0; border-width: 1px; border: solid thin #800000; }
TD.cpCurrentDateDisabled { border-width: 1px; border: solid thin #faa; }
TD.cpTodayText, TD.cpTodayTextDisabled { border: solid thin #C0C0C0; border-width: 1px 0px 0px 0px; }
A.cpTodayText, SPAN.cpTodayTextDisabled { height: 20px; }
A.cpTodayText { color: black; }
.cpTodayTextDisabled { color: #D0D0D0; }
.cpBorder { border: solid thin #808080; }